__pycache__/
plots/
.gitignore
results/
unzipped/
.vscode/launch.json
notes.md
multiline_passage_piccol.png
multiline_passage_piccol.svg
temp_eyekit_img.png
eyekit_textblock.json
log_for_app.log
testfiles/ias_files/
args.pkl
asc_files.zip
chars_df_alt.xlsx
Computation_times_CD_win10_cpu_only.csv
Computation_times_CD_win10_cpu_only_summary_in_minutes.csv
drift_correct2.zip
dyslexia_correct_answer_percentage.csv
em_read_methods.ipynb
pyproject.toml
run_app.bat
run_standalone.py
run2.py
runStuff.md
TEST_1EVSD63_E2I60D0_charsdf0.csv
TEST_1EVSD63_E2I60D0_dffix_R_atEnd.csv
TEST_1EVSD63_E2I60D0_dffix_R_beforeAssignStim.csv
TEST_1EVSD63_E2I60D0_dffix_R.csv
TEST_1EVSD63_E2I60D0_dffix.csv
TEST_1EVSD63_E2I60D0_dffix0.csv
TEST_1EVSD63_E2I60D0_stimmat_R_beforeAssignStim.csv
TEST_1EVSD63_E2I60D0_trial0.pkl
TEST_1EVSD63_E2I61D0_dffix_R_atEnd.csv
TEST_1EVSD63_E2I61D0_dffix0.pkl
TEST_1EVSD63_E2I61D0_trial0.pkl
TEST_1EVSD63_sentMeasures_R.csv
TEST_1EVSD63_wordsReport_R.csv
tests.ipynb
tests.py
tsts.py
.vscode/settings.json
c_tests/input.txt
c_tests/main.c
c_tests/output.txt
c_tests/runthing.exe
configs/fontlist-v330.json
fonts/OpenDyslexic-Bold.otf
testfiles/
tests_jl.ipynb
